

<script type="application/javascript" src="{{ asset('assets/js/materialize.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/toastr.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/script.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/jquery.addrMac.js') }}"></script>
{% block javascripts %}

{% endblock %}
</body>
</html>