{% extends "GlpmrAuthentificationBundle::layout.html.twig" %}

{% block body %}
    <div class="nav-title-wrapper">
        <h3 class="center-align">Module de recherche</h3>
    </div>
    <div class="row main">
        <div class="container">
            <div class="col s12">
                <div class="card">
                    <span class="card-title black-text">Choix de la classe a supprimer</span>

                    <div class="card-content">
                        <form method="POST" action="{{ path("glpmr_admin_supprimer_groupe_valider") }}">
                        <select name="promotion">
                            <option value="" disabled selected>Choisir une promotion</option>
                            <option value="SIOTP-1">SIO TP 1</option>
                            <option value="SIOTP-2">SIO TP 2</option>
                            <option value="SIOALT-1">SIO ALT 1</option>
                            <option value="SIOALT-2">SIO ALT 2</option>
                            <option value="ASI-1">ASI 1</option>
                            <option value="ASI-2">ASI 2</option>
                            <option value="professeur">Professeur</option>
                        </select>
                            <br />
                            <button type="submit" class="btn teal waves-effect waves-light">
                                Envoyer
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}