{# src/Glpmr/VirtualMachineBundle/Resources/views/Default/email.txt.twig #}


Bonjour {{ professeur }},
<br/>
<br/>
L'élève {{ eleve }} souhaite que vous lui validiez la création de sa machine virtuelle.
<br/>
<br/>
Merci de vous rendre <a href={{ lien }}>ici</a> pour valider cette demande.