<ul class="collection ulMenuCreation">
    
    <li class="collection-item avatar">
      <i class="mdi-content-add-circle"></i>
      <a href="{{path('glpmr_virtual_machine_creation')}}">Création</a>            
    </li>
    
    <li class="collection-item avatar">
      <i class="mdi-action-list"></i>
      <a href="{{path('glpmr_virtual_machine_consultation')}}">Consultation</a>
    </li>
    
</ul>